<div class="container text-center mt-3">
  <h2>Sube tu Película</h2>
  <form (ngSubmit)="subir(formPelicula)" #formPelicula="ngForm">
    <!-- Campo para el nombre de la película -->
    <label for="nombrepelicula">Nombre de la película</label>
    <input
      type="text" 
      placeholder="Escribe el nombre de la película" 
      id="nombrepelicula" 
      name="nombrepelicula" 
      class="form-control mb-3" 
      [(ngModel)]="pelicula.name" 
      required
    >
  
    <!-- Campo para la descripción de la película -->
    <label for="descripcion">Descripción de la película</label>
    <input 
      type="text" 
      placeholder="Escribe una descripción" 
      id="descripcion" 
      name="descripcion" 
      class="form-control mb-3" 
      [(ngModel)]="pelicula.description" 
      required
    >
  
    <!-- Campo para la imagen de la película -->
    <label for="img">Imagen de la película</label>
    <input 
      type="text" 
      placeholder="Ingresa el enlace de la imagen" 
      id="img" 
      name="img" 
      class="form-control mb-3" 
      [(ngModel)]="pelicula.image"
    >
  
    <!-- Campo para el tráiler de la película -->
    <label for="trailer">Tráiler de la película</label>
    <input 
      type="text" 
      placeholder="Ingresa el enlace del tráiler" 
      id="trailer" 
      name="trailer" 
      class="form-control mb-3" 
      [(ngModel)]="pelicula.trailer"
    >
  
    <!-- Campo oculto para almacenar el ID del usuario -->
    <input type="hidden" [(ngModel)]="pelicula.proposerId" name="idUser">
  
    <input type="hidden" [(ngModel)]="pelicula.proposerId" name="imgUser">
    <!-- Botón para enviar el formulario -->
    <button  class="btn btn-primary">Enviar</button>
   
  </form>

  <p class="text-danger mt-3" >Asegúrate de tener tu perfil listo antes de subir las películas</p>
  <a [routerLink]="['/perfile']">Ver tu perfil</a>
</div>