<div class="container text-center mt-3">
  <h2>Sube tu Película</h2>
  <form (ngSubmit)="save()" [formGroup]="movieForm">
    <!-- Campo para el nombre de la película -->
    <label for="nombrepelicula">Nombre de la película</label>
    <input
      type="text" 
      placeholder="Escribe el nombre de la película" 
      id="nombrepelicula" 
      name="nombrepelicula" 
      class="form-control mb-3" 
      required
      formControlName="name"
    >
  
    <!-- Campo para la descripción de la película -->
    <label for="descripcion">Descripción de la película</label>
    <input 
      type="text" 
      placeholder="Escribe una descripción" 
      id="descripcion" 
      name="descripcion" 
      class="form-control mb-3" 
      required
      formControlName="description"
    >
  
    <!-- Campo para la imagen de la película -->
    <label for="img">Imagen de la película</label>
    <input 
      type="text" 
      placeholder="Ingresa el enlace de la imagen" 
      id="img" 
      name="img" 
      class="form-control mb-3" 
      formControlName="image"
    >
  
    <!-- Campo para el tráiler de la película -->
    <label for="trailer">Tráiler de la película</label>
    <input 
      type="text" 
      placeholder="Ingresa el enlace del tráiler" 
      id="trailer" 
      name="trailer" 
      class="form-control mb-3" 
      formControlName="trailer"
    >

    <!-- Campo para el tráiler de la película -->
    <label for="genre">Genero</label>
    <input 
      type="text" 
      placeholder="Ingresa el genero" 
      id="trailer" 
      name="trailer" 
      class="form-control mb-3" 
      formControlName="genre"
    >
  
    <!-- Botón para enviar el formulario -->
    <button  class="btn btn-primary">Enviar</button>
  </form>
</div>