<div class="container">
    <h1 class="text-center" *ngIf="user">Bienvenido {{user.displayName}}</h1>
    <div class=" text-center bg-body-tertiary rounded-3 m-3 p-2">
        <img src="intro1.png" class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100">
        <h1 class="text-body-emphasis">¡Elige la próxima película en nuestra noche de Discord!</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
            ¿No sabes qué ver? Deja que la comunidad decida por ti. Cada semana, votamos por una película diferente para
            ver juntos en Discord. ¡Únete a la diversión, comparte tus favoritos y ayuda a elegir la mejor opción!
        </p>
        <div class="d-inline-flex gap-2 mb-5">
            <a [routerLink]="['/peliculas']"
                class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
                Votar ahora
            </a>
            <button [routerLink]="['/create']" class="btn btn-primary btn-lg px-4 rounded-pill" type="button">
                Crear Pelicula
            </button>
        </div>
    </div>

    <!-- Lista de usuarios -->
    <div class="users-list">
        <h3>Usuarios:</h3>
        <div class="d-flex flex-wrap gap-2">
            <button *ngFor="let user of users" [class.selected]="isUserSelected(user.id)"
                (click)="toggleUserSelection(user.id)" class="btn btn-outline-primary">
                {{ user.name }}
            </button>
        </div>
    </div>

    <h2 class="text-center mt-5">Películas Recomendadas</h2>
    <div class="row">
      <div *ngFor="let movie of recommendedMovies" class="col-sm-12 col-md-6 col-lg-4">
        <div class="card text-center mt-4">
            <img src="{{movie.image}}" class="card-img-top" alt="{{movie.name}}" (error)="onImageError($event)">
          <div class="card-body">
            <h5 class="card-title">{{ movie.name }}</h5>
            <p class="card-text">{{ AppUtils.cortarTexto(movie.description,100)}}</p>
            <p class="fw-bold">{{ movie.genre }}</p>
            <button class="btn btn-primary" (click)="showMovieDetail(movie.id)">Ver Película</button>
          </div>
        </div>
      </div>
    </div>
</div>