<div class="container">
    <h1 class="text-center" *ngIf="user">Bienvenido {{user.displayName}}</h1>
    <div class=" text-center bg-body-tertiary rounded-3 m-3 p-2">
        <img src="intro1.png" class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100">
        <h1 class="text-body-emphasis">¡Elige la próxima película en nuestra noche de Discord!</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
            ¿No sabes qué ver? Deja que la comunidad decida por ti. Cada semana, votamos por una película diferente para
            ver juntos en Discord. ¡Únete a la diversión, comparte tus favoritos y ayuda a elegir la mejor opción!
        </p>
        <div class="d-inline-flex gap-2 mb-5">
            <a [routerLink]="['/peliculas']"   class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
                Votar ahora
            </a>
            <button [routerLink]="['/create']" class="btn btn-primary btn-lg px-4 rounded-pill" type="button">
                Crear Pelicula
            </button>
        </div>
    </div>

    <h2 class="text-center">Las Peliculas De Esta Semana</h2>

    <div class="row">
        @for (pelicula of peliculas; track $index) {
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="card text-center mt-4">
                <img [src]="pelicula.img" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{pelicula.nombre}}</h5>
                  <p class="card-text">{{cortarTexto(pelicula.descripcion,200)}}</p>
                  <p class="fw-bold">
                     <img class="rounded-circle" [src]="pelicula.imgUser"  alt="" width="30px" height="30px">
                     {{pelicula.idUser}}
                  </p>
                    <button *ngIf="pelicula.id" (click)="verPeliculaDetail(pelicula.id)" class="btn btn-primary">Ver Pelicula</button>
                </div>
              </div>
            </div>
            }
    </div>
</div>