<div class="container mt-4">
  <h2 class="text-center mt-4">Todas nuestras peliculas</h2>

  <div class="row ">

    @for (movie of movies; track $index) {
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card text-center mt-4">
        <img src="{{movie.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{movie.name}}</h5>
          <p class="card-text">{{cortarTexto(movie.description,200)}}</p>
          <p>
          <!-- Recomendada por :  {{movie.idUser}}</p> -->
          <button (click)="verPelicula(movie.id)" class="btn btn-primary">Ver Pelicula</button>
        </div>
      </div>
    </div>
    }


  </div>
</div>