<div class="container mt-4">
  <h2 class="text-center mt-4">Todas nuestras peliculas</h2>
  <button [routerLink]="['/create']" class="btn btn-primary btn-lg px-4 rounded-pill" type="button">
    Crear Pelicula
</button>

  <div class="row ">

    @for (item of movies; track $index) {
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card text-center mt-4">
        <img src="{{item.movie.image}}" class="card-img-top" alt="{{item.movie.name}}" (error)="onImageError($event)">
        <div class="card-body">
          <h5 class="card-title">{{item.movie.name}}</h5>
          <p class="card-text">{{AppUtils.cortarTexto(item.movie.description,100)}}</p> 
          <p class="card-text">{{item.movie.genre}}</p>

          <!-- <p>Recomendada por :   {{ item.proposer?.name }}</p> -->
          <button (click)="viewMovie(item.movie.id)" class="btn btn-primary">Ver mas</button>
          <button *ngIf="user && user.uid === item.movie.proposerId" (click)="deleteMovie(item.movie.id)" class="btn btn-accent">Borrar</button>
          <button *ngIf="user && user.uid === item.movie.proposerId" (click)="editMovie(item.movie.id)" class="btn btn-accent">Editar</button>
        </div>
      </div>
    </div>
    }


  </div>
</div>